.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.button-group {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 1.2rem;
}

    .button-group button {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.cancel-button {
    background: #ccc;
}

.save-button {
    background: #38bdfa;
    color: white;
}

.cancel-button:hover {
    background-color: #b1b1b1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: #00a6ed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.delete-button {
    background: #fc7a6b;
    color: white;
}

    .delete-button:hover {
        background: #c0392b;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

/* Kontener na zakładki i przyciski */
.tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4rem;
}

/* Sekcja zakładek */
.tabs {
    display: flex;
    gap: 0.5rem;
    border-bottom: 2px solid #fc7a6b;
}

.tab {
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    font-weight: bold;
    color: black;
}

    /* Aktywna zakładka */
    .tab.active {
        background: #ffeeec;
        border-radius: 8px 8px 0 0;
    }

/* Przyciski akcji */
.actions {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    padding: 0.5rem 1rem;
    background-color: #38bdfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .action-button:hover {
        background-color: #0056b3;
    }

/* Treść zakładek */
.content-container {
    padding: 1rem;
}

.content {
    display: none;
}

    .content.active {
        display: block;
    }



.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    padding-top: 60px;
}

.table-container {
    width: 90%;
    max-width: 4000px;
    margin: 2rem auto;
    padding: 1rem;
}

.dataDictionary-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
}

    .dataDictionary-table th,
    .dataDictionary-table td {
        border: 1px solid #ddd;
        padding: 0.75rem;
    }

    .dataDictionary-table th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .dataDictionary-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .dataDictionary-table tr:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    .active-row {
        background-color: #ffd4cf !important; /* Kolor zaznaczonego wiersza */
    }



        .dataDictionary-table tr.active-row td,
        .dataDictionary-table tr.active-row th {
            border: 1px solid #d3d3d3 !important;
        }

.magazine-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 315px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .magazine-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .magazine-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .magazine-container input,
    .magazine-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.unit-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 315px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .unit-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .unit-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .unit-container input,
    .unit-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.category-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 250px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .category-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .category-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .category-container input,
    .category-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.productCard-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 450px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .productCard-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .productCard-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .productCard-container input,
    .productCard-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.delete-container {
    position: absolute;
    /*    visibility: hidden;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 230px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

    .delete-container h2 {
        text-align: center;
        margin-bottom: 55px;
        margin-top: 10px;
    }

.set-hidden {
    visibility: hidden;
}

.set-visible {
    visibility: visible;
}