.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.button-group {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 1.2rem;
}

    .button-group button {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.cancel-button {
    background: #ccc;
}

.save-button {
    background: #38bdfa;
    color: white;
}

.cancel-button:hover {
    background-color: #b1b1b1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: #00a6ed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.delete-button {
    background: #fc7a6b;
    color: white;
}

    .delete-button:hover {
        background: #c0392b;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

/* Kontener na zakładki i przyciski */
.tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4rem;
}

/* Sekcja zakładek */
.tabs {
    display: flex;
    gap: 0.5rem;
    border-bottom: 2px solid #fc7a6b;
}

.tab {
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    font-weight: bold;
    color: black;
}

    /* Aktywna zakładka */
    .tab.active {
        background: #ffeeec;
        border-radius: 8px 8px 0 0;
    }

/* Przyciski akcji */
.actions {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    padding: 0.5rem 1rem;
    background-color: #38bdfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .action-button:hover {
        background-color: #0056b3;
    }

/* Treść zakładek */
.content-container {
    padding: 1rem;
}

.content {
    display: none;
}

    .content.active {
        display: block;
    }



.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    padding-top: 60px;
}

.table-container {
    width: 90%;
    max-width: 4000px;
    margin: 2rem auto;
    padding: 1rem;
}

.dataDictionary-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
}

    .dataDictionary-table th,
    .dataDictionary-table td {
        border: 1px solid #ddd;
        padding: 0.75rem;
    }

    .dataDictionary-table th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .dataDictionary-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .dataDictionary-table tr:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

.active-row {
    background-color: #ffd4cf !important; /* Kolor zaznaczonego wiersza */
}



.dataDictionary-table tr.active-row td,
.dataDictionary-table tr.active-row th {
    border: 1px solid #d3d3d3 !important;
}

.magazine-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 315px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .magazine-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .magazine-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .magazine-container input,
    .magazine-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.unit-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 315px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .unit-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .unit-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .unit-container input,
    .unit-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.category-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 250px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .category-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .category-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .category-container input,
    .category-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.productCard-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 510px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

    .productCard-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .productCard-container label {
        font-weight: bold;
        margin-top: 10px;
    }

    .productCard-container input,
    .productCard-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.delete-container {
    position: absolute;
    /*    visibility: hidden;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 230px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

    .delete-container h2 {
        text-align: center;
        margin-bottom: 55px;
        margin-top: 10px;
    }


.nullProduct-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 230px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

    .nullProduct-container h2 {
        text-align: center;
        margin-bottom: 55px;
        margin-top: 10px;
    }

.set-hidden {
    visibility: hidden;
}

.set-visible {
    visibility: visible;
}

.suggestions {
    position: absolute; /* Unosi nad innymi elementami */
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 92%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000; /* Zapewnia, że będzie nad innymi elementami */
}

    .suggestions li {
        padding: 8px;
        cursor: pointer;
    }

        .suggestions li:hover {
            background: #f0f0f0;
        }

.checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 3px; /* Odstęp między checkboxem a nazwą */
    justify-content: flex-start;
}

.categorySuggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 92%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 5px;
    text-align: left;
}

    .categorySuggestions li {
        padding: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
    }

.category-item {
    display: flex;
    flex-direction: row; /* Elementy w jednej linii */
    gap: 8px; /* Odstęp między checkboxem a tekstem */
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

    .category-item:last-child {
        border-bottom: none;
    }


    .category-item input {
        transform: scale(1.2);
        cursor: pointer;
        margin: 0; /* Upewnia się, że checkbox nie ma dodatkowego marginesu */
        padding: 0;
        align-self: self-start;
    }

    .category-item label {
        flex-grow: 1; /* Sprawia, że tekst nie ucieka */
        text-align: left; /* Wymusza wyrównanie tekstu do lewej */
    }

    .category-item:hover {
        background: #f8f8f8;
        border-radius: 3px;
    }

.selected-categories {
    margin-top: 10px;
    padding: 0px;
    border-radius: 5px;
    max-width: 600px; 
}

.scrollable-list {
    list-style: none;
    padding: 5px;
    margin: 0;
    max-height: 88px; /* Ograniczona wysokość */
    overflow-y: auto; /* Włączenie przewijania */
    border: 1px solid #ddd; /* Subtelna ramka */
    border-radius: 5px;
    background: white;
}

    .scrollable-list li {
        padding: 8px;
        border-bottom: 1px solid #eee;
    }

        .scrollable-list li:last-child {
            border-bottom: none; /* Usunięcie dolnej granicy dla ostatniego elementu */
        }

.search-container {
    display: flex;
    align-items: center;
    gap: 3px; /* Odstęp między inputem a krzyżykiem */
    position: relative;
    width: 100%;
}

    .search-container input {
        flex-grow: 1;
    }

.clear-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fa554a;
    font-weight: bold;
    font-family: Dubai;
}

    .clear-button:hover {
        color: #d13028;
    }


