@page "/"
@using System.Text.Json
@using RitaAppBlazor.Data.Models

@inject IJSRuntime JSRuntime

<main>
    <h1>Witamy w aplikacji Danum!</h1>
    <p>Miłego użytkowania.</p>
</main>

<style>
    main {
        padding-top: 40px; 
    }
</style>

@code {
//     private bool isInitialized = false;

//     protected override async Task OnAfterRenderAsync(bool firstRender)
//     {
//         if(firstRender && !isInitialized)
//         {
//             isInitialized = true;
//         }
//     }
}
