
.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.przyjmij-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 600px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 15px;
}

    .przyjmij-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .przyjmij-container label {
        font-weight: bold;
        margin-top: 5px;
    }

    .przyjmij-container input,
    .przyjmij-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.checkbox-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .checkbox-group label {
        font-weight: normal;
    }

.checkbox-active {
    display: flex;
    justify-content: left;
    margin-left: 70px;
    gap: 10px;
}

.checkbox-inactive {
    display: flex;
    justify-content: right;
    margin-left: 40px;
    gap: 10px;
}

.expiry-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 35%;
}

    .expiry-group label {
        min-width: 120px;
        text-align: left;
    }

.button-group {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    gap: 1.2rem;
}

    .button-group button {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.cancel-button {
    background: #ccc;
}

.save-button {
    background: #38bdfa;
    color: white;
}

.close-button {
    background: #38bdfa;
    color: white;
}

.cancel-button:hover {
    background-color: #b1b1b1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: #00a6ed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
    background-color: #00a6ed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.wydaj-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 410px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 15px;
}

    .wydaj-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .wydaj-container label {
        font-weight: bold;
        margin-top: 5px;
    }

    .wydaj-container input,
    .wydaj-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.wypożycz-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 610px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 15px;
}

    .wypożycz-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .wypożycz-container label {
        font-weight: bold;
        margin-top: 5px;
    }

    .wypożycz-container input,
    .wypożycz-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.edytuj-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 600px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 15px;
}

    .edytuj-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .edytuj-container label {
        font-weight: bold;
        margin-top: 5px;
    }

    .edytuj-container input,
    .edytuj-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.usuń-container {
    position: absolute;
/*    visibility: hidden;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 230px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

    .usuń-container h2 {
        text-align: center;
        margin-bottom: 55px;
        margin-top: 10px;
    }

.nullProduct-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 230px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

    .nullProduct-container h2 {
        text-align: center;
        margin-bottom: 55px;
        margin-top: 10px;
    }

.details-container {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007fbf solid 2px;
    width: 500px;
    height: 620px;
    background: #f7fbfd;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 6px;
    display: flex;
}

    .details-container h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .details-container label {
        font-weight: bold;
        margin-top: 5px;
    }

    .details-container input,
    .details-container textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.delete-button {
    background: #fc7a6b;
    color: white;
}

    .delete-button:hover {
        background: #c0392b;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

.products-table tr.active-row {
    background-color: #ffd4cf !important; /* Kolor zaznaczonego wiersza */
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    padding-top: 60px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-button {
    padding: 0.5rem 1rem;
    background-color: #38bdfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #0056b3;
    }

.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    padding: 0.5rem 1rem;
    background-color: #38bdfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .action-button:hover {
        background-color: #0056b3;
    }

.table-container {
    width: 90%;
    max-width: 4000px;
    margin: 2rem auto;
    padding: 1rem;
}

.products-table {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    border-collapse: collapse;
}

    .products-table th,
    .products-table td {
        border: 1px solid #ddd;
        padding: 0.75rem;
    }

    .products-table th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .products-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .products-table tr:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    .products-table tr.active-row {
        background-color: #ffd4cf !important;
    }

        .products-table tr.active-row td,
        .products-table tr.active-row th {
            border: 1px solid #d3d3d3 !important; /* Czarna ramka dla każdej komórki */
        }

.info-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}

.info-button {
    border: hidden;
    background: none;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.td-info {
    padding: 0;
}

.suggestions {
    position: absolute; /* Unosi nad innymi elementami */
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 92%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000; /* Zapewnia, że będzie nad innymi elementami */
}

    .suggestions li {
        padding: 8px;
        cursor: pointer;
    }

        .suggestions li:hover {
            background: #f0f0f0;
        }

.set-hidden {
    visibility: hidden;
}

.set-visible {
    visibility: visible;
}
